function SquareGame.new 0
push constant 2
call Memory.alloc 1
push pointer 0
push constant 0
push constant 0
push constant 30
call Squarenew 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
